Repository Armor-test/document-plugin-787, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-ux, @Armor-test/team-security, @Armor-test/squad-research, @Armor-test/squad-ml, @Armor-test/dept-logging, @Armor-test/grp-reporting, @Armor-test/squad-frontend, @Armor-test/unit-governance, @Armor-test/squad-apps, @Armor-test/grp-integration, @Armor-test/grp-search, @Armor-test/squad-cloud, @Armor-test/unit-design, @Armor-test/squad-qa, @Armor-test/squad-reporting, @Armor-test/grp-payments, @Armor-test/dept-identity, @Armor-test/unit-test, @Armor-test/dept-reporting, @Armor-test/dept-notifications, @Armor-test/squad-payments, @Armor-test/squad-search, @Armor-test/team-logging, @Armor-test/team-governance, @Armor-test/squad-product, @Armor-test/team-research, @Armor-test/squad-mobile, @Armor-test/squad-database, @Armor-test/squad-performance, @Armor-test/squad-cache, @Armor-test/unit-cloud, @Armor-test/dept-data, @Armor-test/grp-api, @Armor-test/unit-devops, @Armor-test/grp-storage, @Armor-test/team-reporting, @Armor-test/dept-ui, @Armor-test/dept-api, @Armor-test/team-notifications, @Armor-test/squad-tooling, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/security, @Armor-test/compliance, @Armor-test/auth-team

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-ux, @Armor-test/team-security, @Armor-test/squad-research

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-ml, @Armor-test/dept-logging, @Armor-test/grp-reporting

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-notifications, @Armor-test/grp-search

Add src/main.py
  src/main.py
Owners: @Armor-test/grp-search, @Armor-test/squad-research, @Armor-test/squad-reporting

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-ux, @Armor-test/team-security, @Armor-test/squad-research

.github/CODEOWNERS:

# CODEOWNERS file for document-plugin-787
# Global owners - will be requested for all PRs
* @Armor-test/squad-ux @Armor-test/team-security @Armor-test/squad-research

# Directory ownership
/docs/ @Armor-test/squad-ml @Armor-test/dept-logging @Armor-test/grp-reporting
/pkg/ @Armor-test/dept-logging @Armor-test/squad-frontend @Armor-test/unit-governance
/scripts/ @Armor-test/squad-apps @Armor-test/squad-ux @Armor-test/grp-integration
/spec/ @Armor-test/grp-search @Armor-test/squad-cloud
/dist/ @Armor-test/unit-design @Armor-test/squad-research @Armor-test/squad-frontend
/assets/ @Armor-test/squad-qa @Armor-test/squad-reporting @Armor-test/grp-payments
/controllers/ @Armor-test/team-security @Armor-test/dept-identity
/lib/ @Armor-test/unit-test @Armor-test/grp-search @Armor-test/dept-reporting
/test/ @Armor-test/dept-notifications @Armor-test/grp-search
/helpers/ @Armor-test/squad-payments @Armor-test/squad-search @Armor-test/unit-governance
/modules/ @Armor-test/team-logging @Armor-test/team-governance @Armor-test/squad-product

# File type ownership
*.php @Armor-test/team-research @Armor-test/squad-mobile
*.cpp @Armor-test/squad-research @Armor-test/dept-notifications @Armor-test/squad-database
*.json @Armor-test/squad-mobile @Armor-test/dept-reporting
*.tsx @Armor-test/squad-performance @Armor-test/grp-search
*.sql @Armor-test/squad-ux @Armor-test/squad-cache
*.py @Armor-test/grp-search @Armor-test/squad-research @Armor-test/squad-reporting
*.kt @Armor-test/unit-cloud @Armor-test/dept-data
*.ts @Armor-test/squad-database @Armor-test/grp-api @Armor-test/unit-cloud
*.cs @Armor-test/grp-reporting @Armor-test/unit-devops
*.proto @Armor-test/grp-storage @Armor-test/team-reporting @Armor-test/dept-ui
*.c @Armor-test/dept-api @Armor-test/team-notifications
*.ini @Armor-test/dept-api @Armor-test/grp-integration
*.config @Armor-test/grp-reporting @Armor-test/team-reporting @Armor-test/team-research
*.java @Armor-test/squad-payments @Armor-test/team-reporting @Armor-test/squad-tooling

# Security and special files
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
/src/**/security/ @Armor-test/security @Armor-test/compliance
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
